.search {
  text-align: left;
}

/* When the input field gets focus, change its width to 100% */
.search:focus {
  width: 200%;
}

.kiri {
  position: absolute;
  text-align: left;
  border-radius: 20px;
  color: white;
  margin-top: 3px;
  padding-left: 10px;
}

.left {
  position: absolute;
  float: left;
  text-align: left;
  align-content: left;
}
